@import "styles/variables.scss";

.nav {
  position: fixed;
  z-index: 999;
  top: $topbarHeight;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $background-1;
  text-align: center;
  padding-top: 64px;
  font-size: 1.25rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  li:not(:first-child) {
    margin-top: 32px;
  }
}

.toggle.nav {
  opacity: 1;
  pointer-events: initial;
  @media screen and (min-width: $tablet) {
    opacity: 0;
    pointer-events: none;
  }
}
