@import "styles/variables.scss";

.loadPage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: $background-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 0;
  height: 0;
  padding: 12px;
  border-radius: 50%;
  border-width: 8px;
  border-color: white white white transparent;
  border-style: solid;
  background-color: transparent;
  animation: spin 1s forwards infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
