@import "styles/variables.scss";

.memory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  > button {
    padding: 6px 12px;
    background-color: $red-1;
  }
}
