@import "styles/variables.scss";

.reusableFormPage {
  min-height: 100vh;
  form {
    height: 100%;
    width: 100%;
    padding: 32px 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &,
    > * {
      width: 100%;
    }
    > * {
      display: block;
      margin: 16px 0;
    }
  }
  a {
    text-decoration: underline;
  }
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
  }
}

.formWrapper {
  position: absolute;
  height: 100%;
  background-color: rgba($color: $background-1, $alpha: 0.85);
  background-clip: content-box;
  min-width: $mobile;
  &,
  > form {
    padding: 4.18%;
  }
  button {
    max-width: 200px;
    align-self: flex-start;
    margin-bottom: 64px;
  }
}

.errorElements {
  color: $red-1;
}
.successElements {
  color: $blue-1;
}
.errorElements,
.successElements {
  list-style: circle;
  padding-left: 1em;
  > li:not(:last-child) {
    margin-bottom: 8px;
  }
  &:empty {
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .formWrapper {
    position: initial;
    height: initial;
    max-width: 500px;
    &,
    > form {
      padding: 0;
    }
  }
}
