@import "styles/variables.scss";

.nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  left: 0;
  height: $topbarHeight;
  background-color: $background-1;
  animation: loadIn forwards 0.5s;
  @media screen and (min-width: $desktop) {
    background-color: rgba($color: $background-1, $alpha: 0.8);
  }
  > ul {
    display: flex;
    align-items: center;
    height: inherit;
    > li {
      &:first-child {
        flex: 1;
      }
      &:not(:first-child):not(:last-child) {
        margin-right: 4.18%;
        display: none;
        @media screen and (min-width: $tablet) {
          display: initial;
        }
      }
    }
  }
}

.linkActive {
  color: $blue-1;
}

@keyframes loadIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
