@import "styles/variables.scss";

.profileText {
  > * {
    display: block;
    margin: 32px 0;
  }
  h1,
  h1 ~ p {
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  a {
    text-decoration: underline;
    width: fit-content;
    &.myMemories {
      margin-bottom: 128px;
    }
  }
  @media screen and (min-width: $tablet) {
    h1,
    h1 ~ p {
      font-size: 2rem;
    }
  }
}
