@import "styles/variables.scss";

.memoriesPage {
  h1,
  h2 {
    margin-bottom: 24px;
    font-size: 2rem;
  }
}

.memoriesWrapper {
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
  > li > button {
    margin-left: 8px;
  }
}

.memoryTime {
  margin-top: 64px;
  select {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: $blue-1;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em;
    margin: 16px 0 64px 0;
  }
}
