@import "../styles/variables.scss";

.home {
  background: url("/images/home/night_sky.jpg") no-repeat center;
  background-size: cover;
  &,
  .backgroundOverlay,
  .content {
    width: 100%;
    min-height: 100vh;
  }
  .backgroundOverlay {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  .content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $topbarHeight + 32px 4.18% 4.18% 4.18%;
    color: white;
  }
  h1 {
    color: $blue-1;
    margin-bottom: 32px;
  }
  h2 {
    margin-bottom: 64px;
    ~ p {
      margin-bottom: 16px;
    }
  }
  .timeFlip {
    max-height: 1.25em;
    overflow: hidden;
    background-color: $blue-2;
    padding: 0 8px;
    border-radius: 4px;
    position: relative;
    .animatorWrapper {
      animation: roundRobin 12s infinite alternate;
    }
  }
  h2,
  h2 ~ p {
    font-size: 1.5rem;
  }
  h1,
  .timeFlip {
    font-size: 2.75rem;
  }
  a {
    margin-top: 64px;
  }
}

@media screen and (min-width: $tablet) {
  .home {
    h2,
    h2 ~ p {
      font-size: 2rem;
    }
    h1,
    .timeFlip {
      font-size: 4rem;
    }
  }
}

@keyframes roundRobin {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25%);
  }
  45% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(-50%);
  }
  70% {
    transform: translateY(-50%);
  }
  75% {
    transform: translateY(-75%);
  }
  100% {
    transform: translateY(-75%);
  }
}
