@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@import "./variables.scss";

html,
body {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 18px;
  background-color: $background-1;
  color: white;
  min-width: $mobile;
}

.contain {
  max-width: $maxContentWidth;
  margin: 0 auto !important;
}

.clear-top {
  margin-top: $topbarHeight;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button,
.button {
  color: black;
  background-color: $blue-1;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 1em 1.5em;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  &:focus {
    outline: none;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  &.loading {
    text-indent: -999999px;
    &::after {
      opacity: 1;
      padding: 6px;
      border-radius: 50%;
      border-width: 6px;
      border-style: solid;
      border-color: black black black transparent;
      background-color: transparent;
      animation: loader 1s forwards infinite;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-wrapper {
  position: relative;
  img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 12px;
    bottom: 0;
    width: 20px;
    outline: white;
  }
  input {
    padding-left: 42px;
    width: 100%;
  }
}

ul {
  list-style-type: none;
}

input {
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid white;
  color: white;
  padding: 12px 6px;
  border-radius: 4px;
  background-color: transparent;
}

img {
  object-fit: cover;
}

.nav-button {
  @media screen and (min-width: $tablet) {
    display: none;
  }
  > button {
    background-color: transparent;
    .circle {
      width: 0;
      height: 0;
      padding: 12px;
      border-width: 6px;
      border-color: $blue-1;
      border-style: solid;
      border-radius: 50%;
      opacity: 1;
      transition: opacity 0.4s, transform 0.4s;
    }
  }
  .exit {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.4s;
    > div {
      width: 6px;
      height: 42px;
      background-color: $blue-1;
      position: absolute;
      border-radius: 4px;
      transition: transform 0.4s;
    }
  }
  &.toggle {
    > button .circle {
      opacity: 0;
      transform: scale(0);
    }
    .exit {
      opacity: 1;
      > div {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}
