@import "./variables.scss";

$grid-columns: 24;
$grid-gutter-width: 6px;

$grid-breakpoints: (
  xs: 0,
  sm: $tablet,
  md: $desktop,
  lg: $wide,
  xl: $maxContentWidth,
);

$container-max-widths: (
  xs: $tablet - 1px,
  sm: $tablet,
  md: $desktop,
  lg: $wide,
  xl: $maxContentWidth,
);

@import "bootstrap/scss/bootstrap-grid.scss";

.row {
  margin: 0;
}
